@model Fornecedor


@section Styles {
    <style>
        body {
            background: radial-gradient(circle, #004aad, #5ce1e6); /* Degradê */
        }
    </style>
}

<div class="form-container">
    <h2>Adicionar Fornecedor</h2>
    <form asp-action="Create" method="post">
        <div class="form-group">
            <label for="Name">Nome:</label>
            <input asp-for="Name" class="form-control" placeholder="Digite o nome" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="Produto">Produto:</label>
            <input asp-for="Produto" class="form-control" placeholder="Digite o produto" />
            <span asp-validation-for="Produto" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="Email">Email:</label>
            <input asp-for="Email" class="form-control" placeholder="Digite o email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="CNPJ">CNPJ:</label>
            <input asp-for="CNPJ" class="form-control" placeholder="Digite o CNPJ" />
            <span asp-validation-for="CNPJ" class="text-danger"></span>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Salvar</button>
        </div>

    </form>
</div>
