@model Fornecedor
<h2>Editar Fornecedor</h2>
<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    <label>Nome:</label>
    <input asp-for="Name" />
    <label>Produto:</label>
    <input asp-for="Produto" />
    <label>Email:</label>
    <input asp-for="Email" />
    <label>CNPJ:</label>
    <input asp-for="CNPJ" />
    <button type="submit">Salvar</button>
</form>
